## The general section states which account notmuch-client should look
## in for its settings.
[general]
## Which account
notmuch = account2
## If you want to customize your ssh path you can do it here.
# ssh_bin = ssh

[account1]
## If server isn't set, then you are using a local notmuch
## installation.
##
## You can change the configuration file here
##
# notmuch_config = ~/.notmuch-config
##
## And the path to the notmuch binary
##
# notmuch_bin = notmuch


[account2]
## If server is set, you are using remote
server = mysshserver.net
##
## If the user name is left unset, it will default to the current
## logged-in user.
##
user = myusername
##
## If you want to use custom private key for connection via ssh. If
## not, let openssh take care of this.
##
# private_key = ~/.ssh/id_rsa
##
## Since this is remote, the config and notmuch-binary would be the
## ones on the server, not the local machine.
##
# notmuch_config = ~/.notmuch-config
# notmuch_bin = notmuch
##
## Finally, you can set a custom cache location for the remote
## account.
##
# cache = ~/.notmuch-client-cache.d




